h1{
    position:relative;
    left: 38px
}

#game-grid {
    background-color: black;
    height:160px;
    width:300px;
    margin:10px;
    text-align: center;
}


#winner-text {
    position: relative;
    top: 50px
}

#reset{
    position:relative;
    top:60px
}